$color-bg-primary: #1b1f28;
$color-bg-secondary: #3681d1;
$color-bg-secondary-50: #3885d880;

$color-font-primary: #eee;
$color-text-primary: #123;
$color-text-secondary: #3582d4;

$color-border-line: #eeeeee;
$color-card-bg: #242833;

$color-input: #fff;
$color-input-bg: #333742;

$color-placeholder: #aaa;
