@use '../variables';
@use '../mixins';

.awards {
}

.cards {
	display: flex;
	justify-content: space-between;
	gap: 1em;
	padding-top: 1em;
}

.card {
	width: 100%;
	padding: 2em;
	text-align: center;
	border-radius: 1.25em;
	background: variables.$color-card-bg;
}

.icon {
	@include mixins.icon-color;
	width: 3em;
	height: 3em;

}

.title {
}

@media screen and (max-width: 460px) {
	.cards {
		flex-direction: column;
	}
}
