@use '../variables';
@use '../mixins';
.footer {
	padding-top: 1em;
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
}

.icon {
	@include mixins.icon-color;
	margin-right: 0.5em;
}

.copyright {
}
