@use '../variables';
.myPotrfolio {
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 1em;
	grid-row-gap: 2em;
	margin: 1em 0;
}

.card {
}

.image {
	object-fit: contain;
	width: 100%;
	height: auto;
}

.textBox {
	margin-top: 1em;
}

.title {
}

.date {
	font-size: 0.8em;
}

.description {
	margin-top: 1em;
}

@media screen and (max-width: 960px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
}

@media screen and (max-width: 560px) {
	.cards {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}
